{% extends 'mainapp/base.html' %}
{% load static %}


{% block content %}

    <div class="container my-5">
        <div class="text-center" style="color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);">
            <h1 class="fs-1" style="letter-spacing: 0.7em; margin-right: -0.6em;">FERMA NEW</h1>
            <h2 class="fs-4 mt-3" style="letter-spacing:0.32em;">відпочинковий комплекс</h2>
        </div>
    </div>

    <div id="container_post_doc" class="container-md pt-5 charter"><!-- створив клас charter(статут), щоб у CSS відокремити блок. Інакше в хедері спрацьовує нумерація -->
        <div class="row justify-content-md-center">
            <div class="col-lg-8">

                <div class="text-center">
                    <h2 class="fs-3">ПРАВИЛА БРОНЮВАННЯ</h2>
                </div>
                <br />

<!--                <p>-->
<!--                    Ці правила не розроблені з метою обмеження свободи відвідувачів. А навпаки, для комфортного відпочинку-->
<!--                    всіх гостей FERMA NEW. Переважна більшість виписаних правил перебування-->
<!--                    надійшла саме від відвідувачів відпочинкового комплексу.-->
<!--                </p>-->
                <br />

                <ul>
                    <li>Бронювання будиночків відбувається тільки по номеру телефону, вайберу або інстаграму.</li>
                    <li>Бронь активна з моменту передплати на потрібну дату. З наявністю квитанції.</li>
                    <li>Передплата не повертається. Якщо попередили завчасно – бронь можливо перенести.</li>
                    <li>Передплата та решта оплати здійснюється тільки на номер рахунку ФОП.</li>
                </ul>
                <br />
<!--                <p>FERMA NEW дбає про позитивні емоції і комфортний відпочинок всіх наших гостей</p>-->

            </div>
        </div>
    </div>











{% endblock %}
