{% extends 'mainapp/base.html' %}
{% load static %}


{% block content %}
<main>
    <div class="container my-5">
        <div class="text-center" style="color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);">
            <h1 class="fs-1" style="letter-spacing: 0.7em; margin-right: -0.6em;">FERMA NEW</h1>
            <h2 class="fs-4 mt-3" style="letter-spacing:0.32em;">відпочинковий комплекс</h2>
        </div>
    </div>

    <div id="container_post_doc" class="container-md pt-5 charter"><!-- створив клас charter(статут), щоб у CSS відокремити блок. Інакше в хедері спрацьовує нумерація -->
        <div class="row justify-content-md-center">
            <div class="col-lg-8">

                <div class="text-center">
                    <h2 class="fs-3">ПРАВИЛА ЗАСЕЛЕННЯ</h2>
                </div>
                <br />

<!--                <p>-->
<!--                    Ці правила не розроблені з метою обмеження свободи відвідувачів. А навпаки, для комфортного відпочинку-->
<!--                    всіх гостей FERMA NEW. Переважна більшість виписаних правил перебування-->
<!--                    надійшла саме від відвідувачів відпочинкового комплексу.-->
<!--                </p>-->
                <br />

                <ul>
                    <li>Заселення з 15:00</li>
                    <li>Заповнення Анкети гостя є обовʼязковим.</li>
                    <li>Розрахунок повної вартості проживання та додаткових послуг (якщо такі надаються) по приїзду на номер рахунку.</li>
                    <li>Обовʼязково надішліть квитанцію проплати на номер FERMA NEW 096 755 57 57</li>
                    <li>Виселення до 12:00.</li>
                    <li>В день виїзду обовʼязково здати ключі та будинок адміністратору.</li>
                    <li>У разі порушень правил проживання, адміністрація має право відмовити гостю в подальшому проживанні.</li>
                    <li>Ми pet friendly, послуга проживання з тваринами оплачується окремо (200 грн).</li>
                </ul>
                <br />
<!--                <p>FERMA NEW дбає про позитивні емоції і комфортний відпочинок всіх наших гостей</p>-->

            </div>
        </div>
    </div>
</main>

{% endblock %}
