{% extends 'mainapp/base.html' %}
{% load static %}

{% block content%}

    <div class="container my-5">
        <div class="text-center" style="color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);">
            <h1 class="fs-1" style="letter-spacing: 0.7em; margin-right: -0.6em;">FERMA NEW</h1>
            <h2 class="fs-4 mt-3" style="letter-spacing:0.32em;">відпочинковий комплекс</h2>
        </div>
    </div>

    <div id="container_post_doc" class="container-md pt-5 charter"><!-- створив клас charter(статут), щоб у CSS відокремити блок. Інакше в хедері спрацьовує нумерація -->
        <div class="row justify-content-md-center">
            <div class="col-lg-8">

                <div style="text-align: center;">
                    <h2>ПОЛІТИКА<br />
                        КОНФІДЕНЦІЙНОСТІ</h2>
                </div>
                <br />
                <ol>
                    <li>
                      <b>Загальні положення</b>
                        <br />
                        <br />
                        <p>Згідно Закону України від 01 червня 2010 року № 2297-VI «Про захист персональних даних»
                            (надалі – «Закон») під персональними даними розуміють відомості чи сукупність відомостей
                            про фізичну особу, яка ідентифікована або може бути конкретно ідентифікована.
                            Згідно Політики конфіденційності, в поняття "особистої інформації" входить інформація,
                            або частина інформації, котра дозволяє Вас ідентифікувати. Як правило сюди входить ім’я
                            та прізвище, псевдонім (нік), адреса електронної пошти та номер телефону, може також
                            входити така інформація, як IP-адреса. Такі відомості ми можемо отримати безпосередньо
                            від Вас, наприклад, при реєстрації на сайті, наданні контактних даних, інформації отриманої
                            із банківської картки або платежів, а також іншу особисту інформацію, яку Ви добровільно надали нам.</p>
                        <p>Компанія з великою повагою ставиться до конфіденційної (персональної) інформації всіх
                            без винятку осіб, які відвідали сайт, а також тих, хто користується наданими сайтом
                            послугами; у зв'язку з чим, Компанія прагне захищати конфіденційність персональних даних
                            (відомостей чи сукупність відомостей про фізичну особу, яка ідентифікована або може бути
                            конкретно ідентифікована), тим самим створивши і забезпечивши максимально комфортні умови
                            використання сервісів Сайту кожному користувачеві.
                    </li>
                    <li>
                        <b>Використання та мета збору персональних даних</b>
                        <br />
                        <br />
                        <p>Особиста інформація відвідувачів сайту, зібрана при реєстрації та користуванні сайтом,
                            використовується для надання послуг відповідно до Ваших потреб, в першу чергу для
                            надання послуг або у договірних відносинах, а також для відповідей на Ваші запитання. Також
                            ми можемо використовувати Вашу контактну інформацію в поштових відправленнях, а саме
                            повідомляти Вас про нові можливості, акції та інші новини. Ми діємо відповідно до цієї
                            Політики конфіденційності, на підставі Положення про обробку і захист персональних даних та
                            на підставі чинного законодавства України.</p>
                        <p>Ми маємо право зберігати Персональні дані стільки, скільки необхідно для реалізації мети, що
                            зазначена у даній Політиці або у строки, встановлені чинним законодавством України.</p>
                    </li>
                    <li>
                        <b>Надання доступу до інформації</b>
                        <br />
                        <br />
                        <p>Надання доступу до особистої інформації іншим компаніям і приватним особам можливе лише за
                            таких наступних обставин:<br />

                                    - наявний дозвіл Користувача. Для передачі будь-якої конфіденційної інформації
                                    потрібна явна згода Користувача.<br />

                                    - у випадках визначених чинним законодавством України, а також у випадках запобігання
                                    злочину або завдання шкоди нам або третім особам.<br />
                        </p>
                    </li>
                    <li>
                        <b>Захист інформації</b>
                        <br />
                        <br />
                            <p>
                                Ми вживаємо всіх необхідних заходів для захисту даних від несанкціонованого доступу,
                                зміни, розкриття чи знищення. До цих заходів належать, зокрема, внутрішня перевірка
                                процесів збору, зберігання та обробки даних і заходів безпеки, включаючи відповідне
                                шифрування і заходи щодо забезпечення фізичної безпеки даних для запобігання
                                неавторизованого доступу до систем, в яких ми зберігаємо особисті дані.
                            </p>
                    </li>
                    <li>
                        <b>Зміна політики конфіденційності</b>
                        <br />
                        <br />
                        <p>
                            Користувач приймає умови цієї політики конфіденційності і враховує, що дана політика
                            конфіденційності може час від часу змінюватися. Зміни, що вносяться до політики
                            конфіденційності, публікуються на цій сторінці.
                        </p>
                        <p>
                            З питань щодо політики конфіденційності (в т.ч. видалення персональних даних), Користувач
                            може зв'язатися з нами використовуючи e-mail: fermanew.com@gmail.com
                        </p>
                    </li>
                </ol>

            </div>
        </div>
    </div>
{% endblock %}