{% extends 'mainapp/base.html' %}
{% load static %}


{% block content %}

<main>
    <div class="container my-5">
        <div class="text-center" style="color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);">
            <h1 class="fs-1" style="letter-spacing: 0.7em; margin-right: -0.6em;">FERMA NEW</h1>
            <h2 class="fs-4 mt-3" style="letter-spacing:0.32em;">відпочинковий комплекс</h2>
        </div>
    </div>

    <div id="container_post_doc" class="container-md pt-5 charter"><!-- створив клас charter(статут), щоб у CSS відокремити блок. Інакше в хедері спрацьовує нумерація -->
        <div class="row justify-content-md-center">
            <div class="col-lg-8">

                <div class="text-center">
                    <h2 class="fs-3">ПРАВИЛА ПЕРЕБУВАННЯ</h2>
                </div>
                <br />
                <div class="alert alert-primary" role="alert">
                    Ці правила не розроблені з метою обмеження свободи відвідувачів. А навпаки, для комфортного відпочинку
                    всіх гостей FERMA NEW. Переважна більшість виписаних правил перебування
                    надійшла саме від відвідувачів відпочинкового комплексу.
                </div>
                <br />

                <ul>
                    <li>Не палити в будиночках (будь-що). За це передбачений штраф!</li>
                    <li>Не псувати майно, меблі, техніку … (за зіпсовані речі знімаються кошти повної вартості на поточний момент.</li>
                    <li>Не порушувати тишу після 23:00.</li>
                    <li>Не передавати ключі третім особам.</li>
                    <li>На території басейну заборонено використовувати скляний посуд та пляшки. </li>
                    <li>Заборонено кидати в басейн сторонні речі. </li>
                    <li>Носіння плавок та купальників є обовʼязковим.</li>
                    <li>Домашні улюбленці у нас в басейні не плавають.</li>
                    <li>Салюти, хлопавки, конфеті Заборонені !!!</li>
                    <li>Будь ласка, знімайте взуття у будинку!</li>
                    <li>Шановні батьки, слідкуйте за своїми дітьми та домашніми улюбленцями.</li>
                </ul>
                <br />
                <p>FERMA NEW дбає про позитивні емоції і комфортний відпочинок усіх гостей нашого комплексу</p>

            </div>
        </div>
    </div>
</main>

{% endblock %}
