<title>Вибір будинку, домашні улюбленці та додаткові послуги онлайн бронювання будинків відпочинку Ferma New</title>
{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

    <div class="container my-5">
        <div class="text-center" style="color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);">
            <h1 class="fs-1" style="letter-spacing: 0.7em; margin-right: -0.6em;">FERMA NEW</h1>
            <h2 class="fs-4 mt-3" style="letter-spacing:0.32em;">відпочинковий комплекс</h2>
        </div>
    </div>

    <div class="container-lg pt-3">
        <div class="row justify-content-lg-center">
            <div class="col-lg-6">

                {% if user.is_authenticated %}
                    <h2 class="text-center mt-3">БРОНЮВАННЯ БУДИНКІВ</h2>
                    <div class="card border-0 shadow m-3 p-3">
                    <!--<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black text-center m-5">-->

                        <form method="post" action="{% url 'bookingSubmit' %}" class="me-2 ms-2" required>

                            {% csrf_token %}

                            <!--Choice of house-->
                            <div class="mt-3">
                                <h3 class="text-center">Оберіть будинок:</h3>
                                <div class="row justify-content-xl-center">
                                    <div class="col-xl-8 text-center">
                                        <select class="form-select fs-3 text-center" name="holidayhouse">
                                            {% for holidayhouse in holidayhouses %}
                                            <option value="{{ holidayhouse.id }}">{{holidayhouse.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-3">
                                <h3 class="text-center">Час поселення:</h3>
                                <div class="row justify-content-xl-center">
                                    <div class="col-xl-8 text-center">
                                        <select class="form-select fs-3 text-center" name="time">
                                            {% for time in times %}
                                            <option value="{{time}}">поселення з {{time}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-3">
                                <h3 class="text-center">Домашні улюбленці:</h3>
                                    <div class="alert alert-primary" role="alert">
                                        Напишіть нам про Ваших домашніх Улюбленців, яки приїдуть на відпочинок разом з Вами.
                                        Хто вони, їх розміри та імʼя. <br />
                                        Ferma New дружня до тварин.
                                    </div>

                                    <div>
                                        <textarea class="form-control" name="booking_pets" rows="4" cols="50"></textarea>
                                    </div>
                            </div>

                            <div class="mt-3">
                                <h3 class="text-center">Додаткові послуги:</h3>
                                    <div class="alert alert-primary" role="alert">
                                        чан на травах - 1200 грн<br />
                                        джакузі - 900 грн<br />
                                        шатро - 100 грн/особа (діти до 6 років безкоштовно)<br />
                                        додаткове спальне місце - 300 грн
                                    </div>
                                    <div class="alert alert-warning" role="alert">
                                        Просимо Вас вказати у формі додаткову послугу і час, на який ви її замовляєте.<br />
                                        Наприклад: <i>шатро, 6 осіб, 15 липня, 18:00.</i><br />
                                        Адміністрації потрібен певний час, для підготовки додаткових послуг
                                    </div>

                                    <div>
                                        <textarea class="form-control" name="booking_wish" rows="4" cols="50"></textarea>
                                    </div>
                            </div>
                            <br />
                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-success">Підтвердити</button>
                            </div>
                        </form>
                    </div>

                {% else %}

                    <div class="text-center">
                        <div class="alert alert-warning fs-3" role="alert">
                            Спочатку увійдіть
                        </div>
                        <br />
                            <a href="{% url 'login' %}" class="btn btn-outline-success">Увійти</a>
                    </div>

                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}